.hero{
    height: 100vh;
    background: linear-gradient(180deg,#fbe2fd,#e1ffea22 60%);
    display: flex; 
    margin-top: 20px;
}

.hero-left{
    flex: 1;   
    gap: 20PX;
    padding-left: 160px;
  
}

.hero-left h2{
    color:#090909;
    font-size: 20px;
    margin-top:15%;
       display: flex;
       font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
.hero-left p {
    color: #333232;
    font-size: 70px;
    font-weight: 600;
    
  
    

}
.hero-latest-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 210px;
    height: 45px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
  
}
.hero img{
    height: 600px;
    margin: 20px;
  

    

}