.women img{
    margin-left: 55%;
   margin-top:-8%;
  
  width: 18%;

}

.explore3 img{
  height: 300px;
  width: 220px;
 padding-left: 70px;
margin-top:20%;
 
 
}
.category2{
  display: flex;
 margin-left: 8%;
 /* margin-top: 10%; */

 
}

.explore4 img{
  height: 300px;
  width: 220px;
 padding-left: 70px;
 margin-top: 7%;

 

}