.shop-category{
   display: flex;
   flex-direction: column;
    height: 50vh;
    background: linear-gradient(180deg,#fff8e1 0%,#e1ffea22 60%,#e1ffea22 60%);
    margin-left: 11% ;
    margin-top:15px;
    width: 100%;
   
    
}

.shop-category h3{
    margin-top: 30px;
    margin-left: 11%;
    font-size: 58px;
    
 
}

.shop-category h4{
    margin-top: 12px;
    margin-left: 20px;
    font-size: 30px;
    
 
}
.shop-category h4{
    margin-top: 12px;
    margin-left: 11%;

}
.shop-category button{
    margin-left: 11%;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(238, 167, 61);
    font-size: 15px;
    font-weight: 500;
    color: white;

    

}
h3 span{
    color: rgb(238, 167, 61);
}

 .mens img{
    margin-left: 55%;
   margin-top: -12%;
  height: 120%
}
.explore img{
    height: 300px;
    width: 200px;
   margin-left: 12%;
   
}
.category{
    display: flex;
}
