.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
   
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 40px;
    color: #252525;
    font-size: 20px;

}
.footer-links li {
    cursor: pointer;
    margin-top: 2px;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;

}

.footer h2{
    margin: 30px;
    color: rgb(255, 74, 156);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

.footer .footer-logo{
    height: 40px;
    width: 40px;
 
    color:rgb(252, 132, 186);
}
.footer .footer-links{
    margin-top: -25px;
    
}

.logo .logo1
{
    width: 40px;
    height: 40px;
    color: red;
    padding: 20pox;
}

.logo{
    gap:20px
}

.logo .logo2
{
    width: 40px;
    height: 40px;
    color: rgb(246, 51, 51);
    padding: 20pox;
}

.logo .logo3
{
    width: 40px;
    height: 40px;
    color:rgb(33, 209, 33);
    padding: 20pox;
}



/* .logo li{
    list-style: none;
    cursor: pointer;

} */
